<script lang="ts" setup>
import { ref } from "vue";

const selectBtn = ref(5);
const imgFaceIcon = ref("../../feeling_imgs/smile.png");

function clickBtn(index: number) {
  selectBtn.value = index;
  switch (index) {
    case 0:
      document.getElementById("btn-text")!.innerHTML = "Angry";
      imgFaceIcon.value = "../../feeling_imgs/angry.png";
      break;
    case 1:
      document.getElementById("btn-text")!.innerHTML = "Cute";
      imgFaceIcon.value = "../../feeling_imgs/cute.png";
      break;
    case 2:
      document.getElementById("btn-text")!.innerHTML = "Excited";
      imgFaceIcon.value = "../../feeling_imgs/excited.png";
      break;
    case 3:
      document.getElementById("btn-text")!.innerHTML = "Pain";
      imgFaceIcon.value = "../../feeling_imgs/pain.png";
      break;
    case 4:
      document.getElementById("btn-text")!.innerHTML = "Shocked";
      imgFaceIcon.value = "../../feeling_imgs/shocked.png";
      break;
    case 5:
      document.getElementById("btn-text")!.innerHTML = "Smile";
      imgFaceIcon.value = "../../feeling_imgs/smile.png";
      break;

    default:
      break;
  }
}
</script>
<template>
  <div>
    <!-- Finish -->
    <v-container>
      <v-row>
        <v-col>
          <v-img
            class="bg-white"
            width="500"
            :aspect-ratio="1"
            :src="imgFaceIcon"
            cover
          ></v-img>
        </v-col>
        <v-col>
          <v-container>
            <v-row
              ><v-col align="center">
                <div style="font-size: 300%" id="btn-text">Smile</div>
              </v-col></v-row
            >
            <v-row style="margin: 25px">
              <v-btn
                width="100%"
                @click="clickBtn(0)"
                v-bind:color="selectBtn === 0 ? 'yellow' : 'white'"
              >
                ANGRY
              </v-btn>
            </v-row>
            <v-row style="margin: 25px">
              <v-btn
                width="100%"
                @click="clickBtn(1)"
                v-bind:color="selectBtn === 1 ? 'yellow' : 'white'"
              >
                CUTE
              </v-btn>
            </v-row>
            <v-row style="margin: 25px">
              <v-btn
                width="100%"
                @click="clickBtn(2)"
                v-bind:color="selectBtn === 2 ? 'yellow' : 'white'"
              >
                EXCITED
              </v-btn>
            </v-row>
            <v-row style="margin: 25px">
              <v-btn
                width="100%"
                @click="clickBtn(3)"
                v-bind:color="selectBtn === 3 ? 'yellow' : 'white'"
              >
                PAIN
              </v-btn>
            </v-row>
            <v-row style="margin: 25px">
              <v-btn
                width="100%"
                @click="clickBtn(4)"
                v-bind:color="selectBtn === 4 ? 'yellow' : 'white'"
              >
                SHOCKED
              </v-btn>
            </v-row>
            <v-row style="margin: 25px">
              <v-btn
                width="100%"
                @click="clickBtn(5)"
                v-bind:color="selectBtn === 5 ? 'yellow' : 'white'"
              >
                SMILE
              </v-btn>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped></style>
