<script setup lang="ts">
import { ref } from "vue";

const num = ref(0);

function increase() {
  num.value += 1;
}

function decrease() {
  if (num.value > 0) {
    num.value -= 1;
  }
}
</script>
<template>
  <div style="font-size: 150%; font-weight: bold">
    <v-container>
      <v-row>
        <v-col cols="6">
          <div>First Component</div>
          <div>{{ num }}</div>
          <v-btn @click="increase()" style="margin-top: 15px; font-size: 75%"
            >INCREMENT</v-btn
          >
        </v-col>
        <v-col cols="6">
          <div>Second Component</div>
          <div>{{ num * 2 }}</div>
          <v-btn @click="decrease()" style="margin-top: 15px; font-size: 75%"
            >DECREASE</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
