<script lang="ts" setup>
import { ref } from "vue";

const num = ref(179);
</script>

<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          <v-text-field
            label="Please input Number"
            v-model.number="num"
            required
            :rules="[(v) => !!v || 'Number is not empty!!']"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col :cols="1" v-for="n in num" :key="n" style="height: 100px">
          <div style="font-weight: bold" align="center">
            {{ n }}
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
