<script lang="ts" setup>
import { ref } from "vue";
import type Product from "@/types/Product";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const list = ref<Product[]>([]);

let sum = 0;

function adding(n: Product) {
  list.value.push(n);
  sum += n.price
}
</script>
<template>
    <v-container>
      <v-row>
        <v-col cols="6" style="overflow-y: scroll; height: 865px">
            <v-row>
              <v-col :cols="4" v-for="n in products" :key="n">
                <div style="font-weight: bold" align="center">
                  <v-card height="125px">
                    <v-card-title> {{ n.name }} </v-card-title>
                    <v-card-subtitle>{{ n.price }}</v-card-subtitle>
                    <v-btn @click="adding(n)">ADD</v-btn>
                  </v-card>
                </div>
              </v-col>
            </v-row>
        </v-col>
        <v-col cols="6" style="overflow-y: scroll; height: 865px">
          <v-table height="auto">
            <thead>
              <tr>
                <th>ID</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <td
                colspan="3"
                v-if="list.length === 0"
                style="font-size: 100%; font-weight: bold"
                align="center"
              >
                NO Data
              </td>
              <tr v-for="item of list" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
              <td
                colspan="3"
                v-if="list.length !== 0"
                style="font-size: 300%; font-weight: bold"
              >
                Sum {{ sum }}
              </td>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
</template>
