<script setup lang="ts">
import { ref } from "vue";

let props = defineProps<{
  num: number
}>();

let numc = props.num

const emits = defineEmits<{
  (e: "increase"): void
}>();

function increase() {
  emits("increase");
}

</script>
<template>
  <div>First Component</div>
  <div>{{ numc }}</div>
  <v-btn @click="increase()" style="margin-top: 15px; font-size: 75%">INCREMENT</v-btn>
</template>
