<script setup lang="ts">
import { ref } from "vue";

let props = defineProps<{
  num: number
}>();

const refnum = ref(props.num);

const emits = defineEmits<{
  (e: "decrease", num: number): void
}>();

function decrease() {
  emits("decrease", refnum.value-=1);
}

</script>
<template>
  <div>Second Component</div>
  <div>{{ refnum * 2 }}</div>
  <v-btn @click="decrease()" style="margin-top: 15px; font-size: 75%">DECREASE</v-btn>
</template>
